body{
    background: #4b54a5;
    background: linear-gradient(to right, #161941, #9bcaff);
    color: #eee;
}

.cuadro{
    display: inline-block;
    width: 30px;
    margin-left: 10px;
    height: 30px;
    background-color: rgb(84, 94, 105);
    /* border: none; */
}

.objetivo{
    display: inline-block;
    width: 30px;
    margin-left: 10px;
    height: 30px;
    background-color: rgb(221, 255, 31);
    background-image: url('./images/elementos/objetivo.png');
    background-size: 30px 30px;
}

.destino{
    display: inline-block;
    width: 30px;
    margin-left: 10px;
    height: 30px;
    background-color: rgb(83, 255, 49);
    background-image: url('./images/elementos/destino.png');
    background-size: 30px 30px;
}

.robotDown {
    display: inline-block;
    width: 30px;
    margin-left: 10px;
    height: 30px;
    background-color: rgb(47, 1, 107);
    background-image: url('./images/robot/sinCarga/abajo.png');
    background-size: 30px 30px;
}

.robotLeft {
    display: inline-block;
    width: 30px;
    margin-left: 10px;
    height: 30px;
    background-color: rgb(47, 1, 107);
    background-image: url('./images/robot/sinCarga/izquierda.png');
    background-size: 30px 30px;
}

.robotRight {
    display: inline-block;
    width: 30px;
    margin-left: 10px;
    height: 30px;
    background-color: rgb(47, 1, 107);
    background-image: url('./images/robot/sinCarga/derecha.png');
    background-size: 30px 30px;
}

.robotUp {
    display: inline-block;
    width: 30px;
    margin-left: 10px;
    height: 30px;
    background-color: rgb(47, 1, 107);
    background-image: url('./images/robot/sinCarga/arriba.png');
    background-size: 30px 30px;
}

.robotDownCon {
    display: inline-block;
    width: 30px;
    margin-left: 10px;
    height: 30px;
    background-color: rgb(47, 1, 107);
    background-image: url('./images/robot/conCarga/abajo.png');
    background-size: 30px 30px;
}

.robotLeftCon {
    display: inline-block;
    width: 30px;
    margin-left: 10px;
    height: 30px;
    background-color: rgb(47, 1, 107);
    background-image: url('./images/robot/conCarga/izquierda.png');
    background-size: 30px 30px;
}

.robotRightCon {
    display: inline-block;
    width: 30px;
    margin-left: 10px;
    height: 30px;
    background-color: rgb(47, 1, 107);
    background-image: url('./images/robot/conCarga/derecha.png');
    background-size: 30px 30px;
}

.robotUpCon {
    display: inline-block;
    width: 30px;
    margin-left: 10px;
    height: 30px;
    background-color: rgb(47, 1, 107);
    background-image: url('./images/robot/conCarga/arriba.png');
    background-size: 30px 30px;
}

.obstaculo {
    display: inline-block;
    width: 30px;
    margin-left: 10px;
    height: 30px;
    background-color: rgb(0, 0, 0);
    background-image: url('./images/elementos/obstaculo.jpg');
    background-size: 30px 30px;
}   